@import "tailwindcss";

@theme inline {
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
}

body { 
  background-color: var(--color-brand-white); 
  color: var(--color-brand-black);
  font-family: 'General Sans', sans-serif;
}

h1, h2, h3, .font-display {
  font-family: 'Panchang', sans-serif;
}

/* Utility for hiding scrollbar */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
